node_modules/
.env
*.log
database.sqlite
backend/database.sqlite
frontend/dist/
.DS_Store
.gemini/
build/
.history/

# Ignore user uploads and temp files, but keep the folder structure
backend/public/uploads/*
!backend/public/uploads/previews
!backend/public/uploads/.gitkeep
